*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    a:focus{
      outline: none;
    }
    address{font-style:normal;}

    body{
        overflow-x: hidden;
        font-family: 'Pretendard-Regular';
        
        // -webkit-user-select:all;
        // -moz-user-select:all;
        // -ms-user-select:all;
        // user-select:all;
    }


/*header*/
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(to left,#2cb2ff, #216af3);
  .hd_all {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      /* padding: 0 80px; */
      margin: 0 auto;
      padding: 0 5rem;
          hgroup{
            width: 100%;
            a{
                text-align: center;
                h1{
                  width: 100%;
                  img{
                        text-align: center;
                          width: 150px;
                      }
                  }
              }
          }



          .m_menu_button {
              width: 40px;
              height: 40px;
              position: absolute;
              left: 20px;
              top: 15px;
              z-index: 10;
              //background: white;
              //color: antiquewhite;
              border-radius: 50%;
              a.menu-trigger, a.menu-trigger span {
                display: inline-block;
                transition: all .4s;
              }
              
              a.menu-trigger {
                position: relative;
                width: 27px;
                height: 30px;
                
                span {
                  position: absolute;
                  left: 7px;
                  width: 100%;
                  height: 4px;
                  background-color:rgb(255, 255, 255);
                  border-radius: 50px;
                  
                  &:nth-child(1) {
                    top: 10px;
                  }
                  
                  &:nth-child(2) {
                    top: 18px;
                  }
                  
                  &:nth-child(3) {
                    bottom: 0px;
                  }
                }
              }
              
              .menu-trigger.active-1 {
                span:nth-child(1) {
                  transform: translateY(5.5px) rotate(-45deg);
                }
                
                span:nth-child(2) {
                  opacity: 0;
                }
                
                span:nth-child(3) {
                  transform: translateY(-10.5px) rotate(45deg);
                }
              }
          }

          .m_menu {
              position: absolute;
              left: 0;
              top: 0;
              width: 22%;
              background-color: #05041a;
              display: none;
              text-align: center;
              .menu_style {
                width: 100%;
                height: 100vh;
                margin-bottom: 0 !important;
                padding-top: 10rem;
                li {
                  width: 100%;
                  margin-bottom: 4rem;
                  font-size: 1.5rem;
                  color: aliceblue;
                  &:last-child {
                    margin-bottom: 0 !important;
                    font-size: 1.5em;
                    font-weight: 700;
                  }
                  
                  
                  a {
                    font-size: 1.2em;
                    font-weight: 600;
                    color: white;
                    &:hover{
                      background: linear-gradient(to left, #0055ff00, #0057FF,#0055ff00 );
                      padding: 0.4rem 5rem;
                      //color: #000;
                    }
                    // &:hover{
                    //   color: white;
                    //   text-decoration: underline;
                    //   text-decoration-thickness: 5px;
                    //   text-underline-offset : 11px;
                    // }
                    img{
                      margin-left: 1rem;
                      width: 35px;
                    }
                  }
                }
                
              }
            }
            
            .scroll_bar {
              background-color: #000;
            }  
    }
}

/* main */
main{
  margin: 0 auto;
  width: 100vw;
  #home{
    height: 1080px;
    position: relative;
    z-index: 1;
    background: #050419;
    //background: linear-gradient( to bottom, #5368E1, #F4F7FF );
    .main_video{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        video{
            object-fit: cover;
            background-size: cover;
            height: 100%;
            max-width: 100%;
            filter: opacity(0.8) ;
            /* 이미지 그라데이션 적용 */
            //-webkit-mask-image: linear-gradient(to top, transparent 50%, black 100%);
        }

    }
    article{
      padding: 0 5rem;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 1;
      .home_wrap{
        color: white;
        height: 100%;
        width: 100%;
        .home_content{
          display: flex;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          .home_txt{
            width: 55%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding-left: 10rem;
            h2{
              font-size: 4rem;
              font-family: 'TheJamsil5Bold';}
            h3{
              line-height: 2;
              font-weight: 600;
            }
            h4{
              line-height: 1.8;
              font-size: 1rem;
            }

            div{
              margin-top: 2rem;
              display: flex;
              flex-direction: column;
              gap: 1rem;
              .button{
                border: transparent;
                border-bottom: 2px solid #0084FF;
                padding: 0.5rem 2rem;
                cursor: pointer;
                transition: 0.3s ease-in;
                &:hover{
                  border: 2px solid #0084FF;
                  background: #0084ff96;
                  animation: move-left 2s ;
                }
                @keyframes move-left {
                  to {
                    transform: translateX(15%);
                  }
                }
                img{
                  width: 50px;
                  margin: 0 1rem;
                }
              }
            }
          }
          .home_logo{
            width: 45%;
            height: 100%;
            position: relative;
            .logo{
              display: flex;
              height: 100%;
              width: 500px;
              transform: translate(5rem, 5rem);
            }
            div{
              img{
                position: absolute;
                z-index: -1;
              }
              .logo-i1{
                width: 550px;
                top: 15rem;
                left: -2rem;
                animation: mon1 3s ease-in-out infinite alternate;
              }
              @keyframes mon1 {
                0%{
                  top: 15rem;
                }
                50%{
                  top: 13rem;
                }
              }
              .logo-i2{
                width: 300px;
                top: 13rem;
                animation: mon2 4s ease-in-out infinite alternate;
                animation-delay: 0.3s;
              }
              @keyframes mon2 {
                0%{
                  top: 13rem;
                }
                50%{
                  top: 11rem;
                }
              }
              .logo-i3{
                width: 100px;
                top: 13rem;
                left: 3rem;
                animation: mon3 5s ease-in-out infinite alternate;
                animation-delay: 0.3s;
              }
              @keyframes mon3 {
                0%{
                  top: 13rem;
                }
                50%{
                  top: 11rem;
                }
              }
            }
          }
        }
      }
    }
    
    
  }
  #about{
    width: 100%;
    //height: 100%;
    background: linear-gradient(#050419,#000A37);
    color: white;
    padding: 0 5rem;
    
    .about1{
      position: relative;
      z-index: 1;
      width: 100%;
      padding: 10rem 0 5rem;
      .intro-bg{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      //overflow: hidden;
        div{
          position: absolute;
          left: 0;
          top: 0;
          width: 2100px;
          height: 500px;
          transform: rotate(15deg) translate(0,15rem);
          background: linear-gradient(to left,#1db0ff, #3e6ff64d,#3e6ff600);
          animation: op1 1s linear infinite alternate;
        }
        @keyframes op1 {
          to{
            opacity: 0;
          }
          from{
            opacity: 1;
          }
        }
      }
      .intro-d{
        display: flex;
        position: relative;
        width: 100%;
        padding: 0 5rem;
        align-items: center;
        .intro{
          width: 35%;
          padding: 0 0 0 5rem;
          img{
            width: 50px;
          }
          h2{display: flex;
            font-size: 4em;
            gap: 8rem;
            font-family: 'TheJamsil5Bold';
            margin-top: 1rem;
            p{
              
            }
          }
          h3{
            font-size: 1.3rem;
            width: 60%;
            line-height: 1.8;
          }
        }
        .intro-img{
          width: 60%;
          position: relative;
          display: flex;
          justify-content: flex-end;
          .logo{
            top: 29%;
            left: 25%;
            position: absolute;
            width: 30%;
          }
          .intro-box{
            max-width: 90%;
          }
        }
      }
    }
    .about2{
      padding-top: 10rem;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      .ab2-bg{
        position: relative;
        div{
          position: absolute;
          left: 0;
          top: -30rem;
          width: 1100px;
          height: 500px;
          transform: translate(-5rem,15rem);
          background: linear-gradient(to right,#0029E0, #3e6ff600);
          animation: op1 2s linear infinite alternate;
        }
      }
      .ab2-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        .rou1{
          display: flex;
          justify-content: center;
          .roubox{
            position: relative;
            width: 300px;
            height: 300px;
            margin: 10px;
            border: 4px solid transparent;
            //padding: 10px;
            color: black;
            background-image: linear-gradient(#EDEFF5, #DFE4EF, #D2DAE9), 
            linear-gradient(to right, #CFD8EC, #FBFBFC,#F2F4F8,#E6ECF2,#E3E9F0);
            background-origin: border-box;
            background-clip: content-box, border-box;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            
            &:nth-child(1){
              text-align: right;
              border-radius: 150px 150px 0 150px ;
              h3{
                padding: 0 1rem 2rem 3rem;
              }
            }
            &:nth-child(2){
              border-radius: 150px 150px 150px 0; 
              h3{
                padding: 0 3rem 2rem 1rem;
              }
            }
            h3{
              font-weight: 600;
              margin: 0;
              overflow: hidden;
              font-size: 1.3rem;
              padding: 1rem;
              line-height: 1.5;
            }
          }
        }
        .rou2{
          display: flex;
          justify-content: center;
          .roubox{
            position: relative;
            width: 300px;
            height: 300px;
            margin: 10px;
            border: 4px solid transparent;
            //padding: 10px;
            color: black;
            background-image: linear-gradient(#EDEFF5, #DFE4EF, #D2DAE9), 
            linear-gradient(to right, #CFD8EC, #FBFBFC,#F2F4F8,#E6ECF2,#E3E9F0);
            background-origin: border-box;
            background-clip: content-box, border-box;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            &:nth-child(1){
              border-radius: 150px 0 150px 150px ;
              h3{
                padding: 2rem 1rem 0 4rem;
              }
            }
            &:nth-child(2){
              border-radius: 0 150px 150px 150px ; 
            }
            h3{
              font-weight: 600;
              margin: 0;
              overflow: hidden;
              font-size: 1.3rem;
              padding: 1rem;
              line-height: 1.5;
            }
            img{
              width: 250px;
              padding: 2rem 0 1rem  2rem;
            }
          }
        }
      }
      .ab2-right{
        width: 50%;
        img{
          width: 50px;
          margin-left: 7rem;
        }
        h2{
          margin-top: 1rem;
          display: flex;
          gap: 3rem;
          font-size: 4em;
          font-family: 'TheJamsil5Bold';
          p{
            
          }
        }
        h3{
          width: 60%;
          line-height: 1.8;
          margin-left: 7rem;
          font-size: 1.3rem;
        }
      }
    }
    .about3{
      padding: 10rem 0 5rem;
      width: 100%;
      position: relative;
      z-index: 1;
      .ab3-bg{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        .bg{
          position: absolute;
          left: 0;
          top: 0;
          width: 500px;
          height: 500px;
          transform: rotate(-15deg) translate(-15rem,5rem);
          background: linear-gradient(to right,#1db0ff, #3e6ff64d,#3e6ff600);
          animation: op1 2s linear infinite alternate;
        }
      }
      .ab3-title{
        padding: 0 0 3rem 8rem;
        img{
          width: 50px;
          transform: scaleX(-1);
        }
        h2{margin-top: 1rem;}
      }
      .ab3-box{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5rem;
        .box-1{
          gap: 5rem;
          display: flex;
          .movebox{
            width: 250px;
            height: 500px;
            margin: 10px;
            border: 4px solid transparent;
            border-radius: 25px;
            color: black;
            background-image: linear-gradient(#EDEFF5, #DFE4EF, #D2DAE9), 
            linear-gradient(to right, #CFD8EC, #FBFBFC,#F2F4F8,#E6ECF2,#E3E9F0);
            background-origin: border-box;
            background-clip: content-box, border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .wrap {
              text-align: center;
              //width: 80%;
              //margin: 100px auto;
              display: flex;
              flex-wrap: wrap;
              
              .hex {
                width: 200px;
                margin-bottom: 7rem;
                position: relative;
                visibility: hidden;
            
                &:nth-of-type(7n+5) {
                  margin-left: 12.5%;
                }
            
                &::after {
                  content: '';
                  display: block;
                  padding-bottom: 80%;
                }
            
                .hex-inner {
                  position: absolute;
                  width: 100%;
                  padding-bottom: 114.6%;
                  overflow: hidden;
                  visibility: hidden;
                  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
            
                  * {
                    position: absolute;
                    visibility: visible;
                  }
                }
            
                .content {
                  
                  display: flex;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
                  justify-content: center;
                  align-items: center;
            
                  img{
                    height:100%;
                    object-fit : cover;
                  }
                }
              }
            }
            
            h4{
              text-align: center;
              font-size: 1rem;
              font-weight: 600;
              pointer-events : none;
            }
            .spanbox{
              width: 95%;
              display: flex;
              justify-content: center;
              gap: 1rem;
              padding: 1.5rem 0;
              
              .sp{
                background: #216af3;
              }
              span{
                width: 15px;
                height: 15px;
                background: #CFD8EC;
                border-radius: 50%;
                
              }
            }
            .textbox{
              width: 80%;
              height: 10%;
              border-radius: 50px;
              background: #feffff;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 2rem;
              h4{}
            }
          }
          .on1{
            transition: 0.7s ease-in-out;
            &:hover{
              transform: scale(1.1);
            }
          }
          .on2{
            transition: 0.7s ease-in-out;
            &:hover{
              transform: scale(1.1);
            }
          }
        }
        .box-2{
          gap: 5rem;
          display: flex;
          .movebox{
            width: 250px;
            height: 500px;
            margin: 10px;
            border: 4px solid transparent;
            border-radius: 25px;
            color: black;
            background-image: linear-gradient(#EDEFF5, #DFE4EF, #D2DAE9), 
            linear-gradient(to right, #CFD8EC, #FBFBFC,#F2F4F8,#E6ECF2,#E3E9F0);
            background-origin: border-box;
            background-clip: content-box, border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .wrap {
              text-align: center;
              //width: 80%;
              //margin: 100px auto;
              display: flex;
              flex-wrap: wrap;
              .hex {
                width: 200px;
                margin-bottom: 7rem;
                position: relative;
                visibility: hidden;
            
                &:nth-of-type(7n+5) {
                  margin-left: 12.5%;
                }
            
                &::after {
                  content: '';
                  display: block;
                  padding-bottom: 80%;
                }
            
                .hex-inner {
                  position: absolute;
                  width: 100%;
                  padding-bottom: 114.6%;
                  overflow: hidden;
                  visibility: hidden;
                  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
            
                  * {
                    position: absolute;
                    visibility: visible;
                  }
                }
            
                .content {
                  display: flex;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
                  justify-content: center;
                  align-items: center;
            
                  img{
                    height:100%;
                    object-fit : cover;
                  }
                }
              }
            }
            
            h4{
              text-align: center;
              font-size: 1rem;
              font-weight: 600;
              pointer-events : none;
            }
            .spanbox{
              width: 100%;
              display: flex;
              justify-content: center;
              gap: 1rem;
              padding: 1.5rem 0;
              
              .sp{
                background: #216af3;
              }
              span{
                width: 15px;
                height: 15px;
                background: #CFD8EC;
                border-radius: 50%;
                
              }
            }
            .textbox{
              width: 95%;
              height: 10%;
              border-radius: 50px;
              background: #feffff;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 2rem;
            }
          }
          .on3{
            transition: 0.7s ease-in-out;
            &:hover{
              transform: scale(1.1);
            }
          }
          .on4{
            transition: 0.7s ease-in-out;
            &:hover{
              transform: scale(1.1);
            }
          }
        }
      }
    }

    
    
  }
  #coin{
    width: 100%;
    background: #000A37;
    color: white;
    padding: 0 5rem;
    article{
      position: relative;
      z-index: 1;
      padding: 10rem 0 5rem;
      .ab3-title{
        padding: 0 10rem 3rem 0;
        text-align: right;
        img{width: 50px;}
        h2{margin-top: 1rem;}
      }
      .ab3-detail{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .ab3-left{
          width: 45%;
          .logo-c{
            text-align: center;
            img{
              max-width: 100%;
            }
            
          }
        }
        .ab3-right{
          width: 55%;
          .ab3-top{
            .content1{
              display: flex;
              justify-content: flex-start;
              width: 100%;
              li{
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;
                &:nth-child(1){
                  #spinner{
                    border-top: 15px solid #0057FF;
                    border-left: 15px solid #0057FF;
                    border-bottom: 15px solid #0057FF;
                  }
                }
                &:nth-child(2){
                  #spinner{
                    border-top: 15px solid #0C498A;
                    //border-left: 15px solid #0C498A;
                    //border-bottom: 15px solid #0C498A;
                    animation-duration: 10s;
                  }
                }
                &:nth-child(3){
                  #spinner{
                    border-top: 15px solid #0084FF;
                    //border-left: 15px solid #0084FF;
                    //border-bottom: 15px solid #0084FF;
                    animation-duration: 10s;
                  }
                }
                #spinner{
                  margin: 0 auto;
                  width: 150px;
                  height: 150px;
                  border: 15px solid rgba(177, 202, 255, 0.5);
                  border-radius: 50%;
                  animation: spin 4s  linear infinite;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  &:nth-of-type(1){
                    
                  }
                  img{
                    width: 65px;
                  }
                }
                @keyframes spin {
                  0% { transform: rotate(0deg); }
                  100% { transform: rotate(360deg); }
                }
                h5{
                  width: 60%;
                  text-align: center;
                  font-size: 1.1rem;
                }
              }
            }
            .content2{
              display: flex;
              justify-content: flex-start;
              width: 100%;
              li{
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;
                &:nth-child(1){
                  #spinner{
                    border-top: 15px solid #77A3CD;
                    border-left: 15px solid #77A3CD;
                    //border-bottom: 15px solid #77A3CD;
                    animation-duration: 8s;
                  }
                }
                &:nth-child(2){
                  #spinner{
                    border-top: 15px solid #4B89FF;
                    border-left: 15px solid #4B89FF;
                    //border-bottom: 15px solid #0C498A;
                    animation-duration: 4s;
                  }
                }
                &:nth-child(3){
                  #spinner{
                    border-top: 15px solid #74bcff;
                    border-left: 15px solid #74bcff;
                    //border-bottom: 15px solid #0084FF;
                    animation-duration: 4s;
                  }
                }
                #spinner{
                  margin: 0 auto;
                  width: 150px;
                  height: 150px;
                  border: 15px solid rgb(177, 202, 255, 0.5);
                  border-radius: 50%;
                  animation: spin 4s  linear infinite;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  &:nth-of-type(1){
                    
                  }
                  img{
                    width: 65px;
                  }
                }
                @keyframes spin {
                  0% { transform: rotate(0deg); }
                  100% { transform: rotate(360deg); }
                }
                h5{
                  width: 60%;
                  text-align: center;
                  font-size: 1.1rem;
                }
              }
            }
            
          }
          .ab3-down{
            padding-top: 3rem;
            text-align: center;
            p{
              margin-right: 5rem;
            }
          }
        }
      }

    }
  }
  #roadmap{
    width: 100%;
    background: linear-gradient(#000A37,#020410);
    color: white;
    padding: 0 5rem;
    article{
      position: relative;
      z-index: 1;
      padding: 10rem 0 5rem;
      .road-title{
        padding: 0 0 3rem 8rem;
        img{
          width: 50px;
        }
        h2{
          font-size: 2.5rem;
          margin-top: 1rem;
          margin-bottom: 2rem;
        }
      }
      .road-detail{
        .road-top{
          display: flex;
          width: 100%;
          height: 100%;
          gap: 2rem;
          justify-content: center;
          margin-bottom: 10rem;
          //justify-content: space-evenly;
          .year{
            h2{
              font-family: "TheJamsil5Bold";
              font-size: 4rem;
              margin-right: 5rem;
              color: #0057FF;
            }
          }
          .each1{
            display: flex;
            gap: 2rem;
           
            .frame{
              height: 320px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              &:nth-child(1){
                div{
                  
                }
              }
              h4{}
              h5{
                font-size: 1rem;
                //width: 80%;
              }
              div{
              width: 200px;
              height: 170px;
              border-radius: 0 0 50px 0;
              background-image: linear-gradient(#EDEFF5, #DFE4EF, #D2DAE9);
              display: flex;
              justify-content: center;
              align-items: center;
                img{
                  width: 150px;
                }
              }
            }
          }
          .each2{
            display: flex;
            gap: 2rem;
           
            .frame{
              height: 320px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              &:nth-child(1){
                div{
                  
                }
              }
              h4{}
              h5{
                font-size: 1rem;
                //width: 50%;
              }
              div{
              width: 200px;
              height: 170px;
              border-radius: 0 0 50px 0;
              background-image: linear-gradient(#EDEFF5, #DFE4EF, #D2DAE9);
              display: flex;
              justify-content: center;
              align-items: center;
                img{
                  width: 150px;
                }
              }
            }
          }
        }
        .road-down{
          display: flex;
          width: 100%;
          height: 100%;
          gap: 2rem;
          justify-content: center;
          //justify-content: space-evenly;
          .year{
            h2{
              font-family: "TheJamsil5Bold";
              font-size: 4rem;
              margin-right: 5rem;
              color: #0057FF;
            }
          }
          .each1{
            display: flex;
            gap: 2rem;
           
            .frame{
              height: 320px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              &:nth-child(1){
                div{
                  
                }
              }
              h4{}
              h5{
                font-size: 1rem;
                //width: 80%;
              }
              div{
              width: 200px;
              height: 170px;
              border-radius: 0 0 50px 0;
              background-image: linear-gradient(#EDEFF5, #DFE4EF, #D2DAE9);
              display: flex;
              justify-content: center;
              align-items: center;
                img{
                  width: 150px;
                }
              }
            }
          }
          .each2{
            display: flex;
            gap: 2rem;
           
            .frame{
              height: 320px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              &:nth-child(1){
                div{
                  
                }
              }
              h4{}
              h5{
                font-size: 1rem;
                //width: 50%;
              }
              div{
              width: 200px;
              height: 170px;
              border-radius: 0 0 50px 0;
              background-image: linear-gradient(#EDEFF5, #DFE4EF, #D2DAE9);
              display: flex;
              justify-content: center;
              align-items: center;
                img{
                  width: 150px;
                }
              }
            }
          }
        }
      }
    }
  }
  #contact{
    width: 100%;
    height: 1080px;
    background: #000A37;
    position: relative;
    z-index: 2;
    color: white;
    .cont-bg{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      img{
        object-fit: cover;
            background-size: cover;
            height: 100%;
            max-width: 100%;
            filter: opacity(0.8);
      }
    }
    .cont-text{
      width: 100%;
      margin: 0 auto;
      padding-top: 10rem;
      position: relative;
      .oneboder{
        top: 42%;
        left: 29%;
        position: absolute;
        border-bottom: none;
        border: 10px solid transparent; /*2*/
        background: linear-gradient(#0085FF,rgba(0, 0, 255, 0),rgba(0, 0, 255, 0)) border-box; /*3*/
        -webkit-mask: /*4*/
          linear-gradient(#fff 0 0) padding-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
        width: 800px;
        height: 800px;
        border-radius: 50%;
      }
      .cont-form{
        text-align: center;
        
        h2{
          font-size: 4rem;
          font-family: 'TheJamsil5Bold';
          transform: translateY(5rem);
        }
        .formbox{
          text-align: center;
          form{
            transform: translate(0px, 13rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            input{
              text-align: center;
              width: 500px;
              height: 32px;
              font-size: 15px;
              outline: none;
              padding-left: 10px;
              border-bottom: 2px solid transparent;
              border-image: linear-gradient(0.25turn, #5C9DFF, rgba(56,2,155,0));
              border-image-slice: 1;
              &::placeholder {
                color:white;
            }
            }
            .subm{
              color: white;
            }
          }
          }
      }
    }
    
  }
  .fix-f{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
    img{
      width: 100%;
    }
  }
}

/*footer*/

footer{
  background: #000A37;
  padding: 50px 0;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
  .footer_area{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 2%;
      ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .foter-left{
          .logo_icon{
            text-align: left;
            margin-bottom: 50px;
              img{
                  width: 200px;
              }
          }

          .inc{
          width: 100%;
          text-align: left;
          color: #ffffff;
          flex-direction: column;
          h4{
              color: #9E9E9E;
              font-size: 20px;
              
          }
          li{
              font-weight: 100;
              font-size: 15px;
              line-height: 2;
          }
          
          } 
        }
        .foter-right{
          margin-top: 4rem;
          .white_pp{
            border: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;
                h4{
                    color: #9E9E9E;
                    font-size: 20px;
                    margin-bottom: 24px;
                }
                .but-box{
                  gap: 1rem;
                    display: flex;
                    justify-content: space-evenly;
                    button {
                    font-size: 15px;
                    font-weight: 500;
                    margin-bottom: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #ffffff;
                    border: none;
                    outline:none;
                        img{
                            width: 35px;
                            
                        }
                        &:hover{
                            
                            
                        }
                    }
                }
                
          }
        
          .sns {
            //width: 15%; 
            display: flex;
            align-items: center;
            gap: 2rem;
            color: #7C8294;
            h4{
                color: #9E9E9E;
                font-size: 20px;
                margin-bottom: 20px;
            }
            aside{
              display: flex;
              gap: 1.5rem;
              button{
                // width: 40px;
                // height: 40px;
                //border-radius: 50%;
                // margin-left: 10px;
                border: none;
                    outline:none;
                img{
                    width: 30px;
                    
                }
                
            }
            }
           
           
          } 
        }
      }

      
       
  }
  p {
      margin-top: 60px;
      font-size: 13px;
      text-align: center;
      color: #0085FF;
    }
}